
/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilory';
  outline: none;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  padding: 20px;

}

button{
  padding: 15px 30px;
  font-size: 30px;
  font-weight: 500;
  background-color:skyblue;
  color: black;
  border-radius: 10px;
  border: none;
  
}